body{
    background-color: #FFB643;
}
.main-container{
    max-width: 800px;
    margin: 0 auto;
}
.sash{
    // position: absolute;
    padding: 10px 25px;
    background-color: #fff;
    // width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    // margin-left: 10px;
    // margin-right: 10px;
}